body {
    background: #f3f3f3;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.clearfix::after
{
    content: '';
    display: block;
    clear: both;
}
.logo_text span
{
    color: rgb(128, 195, 250);
}
header
{
    background: white;
    height: 85px;
}
header *
{
    font-family: 'Raleway', sans-serif;
    color: #202639;
}
header .logo
{
    float: left;
    margin-left: 2em ;
}
header .logo a
{
    text-decoration: none;
}

header ul
{
    float:right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}
header ul li
{
    float: left;
    position: relative;
    margin-top: 30px;
}
header ul li a
{
    padding :15px;
    font-size: 1em;
    text-decoration: none;
}
header ul li a:hover
{
    color: rgb(128, 195, 250);
}
header .menu_button
{
    display: none;
}
header .logged-in
{
    color: rgb(128, 195, 250);
    background: #202639;
    border-radius: 5px;
    padding: 10px;
}
.showing
{
    max-height: 100em;
}
/*Carousel Post Slider*/

.post-slider
{
}
.post-slider .slider-title
{
    text-align: center;
    /*margin: 30px auto;*/
    padding-top: 30px;
    color: #202639;
    font-size: 1.5em;
}
.post-slider .next
{
    position: absolute;
    right: 10%;
    top: 325px;
    font-size: 3em;
}
.post-slider .prev:hover, .next:hover
{
    color: rgb(128, 195, 250);
}
.post-slider .prev
{
    position: absolute;
    left: 10%;
    top: 325px;
    font-size: 3em;
}
.post-slider .post-wrapper
{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0 10px 0;
}
.post-slider .post-wrapper .post
{
    background: white;
    display: inline-block;
    height: 350px;
    width: 25%;
    margin: 25px;
}
.post-slider .post-wrapper .post .slider-image
{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.post-slider .post-wrapper .post .post-info
{
    /*margin: auto 10px;*/
    margin: auto 10px;
}
.post-slider .post-wrapper .post .post-info h4
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3em;
    margin: 0;

}
.post-slider .post-wrapper .post .post-info .post-title
{
    color: #202639;
    text-decoration: none;
}
.post-slider .post-wrapper .post .post-info i
{

}
.post-slider .post-wrapper .post .post-category
{
    float: right;
    color: #202639;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.8em;

}
.post-slider .post-wrapper .post .post-category:hover
{
    color:rgb(128, 195, 250)
}

.content
{
    /*size= viewport height - header height(menu bar) - footer height */
    min-height: calc(100vh - 85px - 19px);
}
.main-content-wrapper
{
    width: 75%;
    margin: 30px auto 30px;
}
.main-content-wrapper .main-content
{
    width: 70%;
    float: left;
}
.recent-posts-title
{
    padding-left: 25px;
}
.main-content-wrapper .main-content .post
{
    width:95%;
    height: 225px;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

}
.main-content-wrapper .main-content .post img
{
    width: 40%;
    height: 100%;
    float:left;
    padding-right: 10px;
    border-radius: 5px;
}

.main-content-wrapper .main-content .post .post-preview
{

    padding: 10px;
    /*width: 55%;*/
    /*float:right;*/

}
.main-content-wrapper .main-content .post .post-preview h2
{
    margin: 10px auto 5px auto;
    max-width: 75%;
    text-align: justify;
}
.main-content-wrapper .main-content .post .post-preview .post-title
{
    text-decoration: none;
    color: #202639;
    /*margin: 0;*/
    padding:0 ;

    /*font-size: 0.8em;*/
}
.main-content-wrapper .main-content .post .post-preview .preview-text
{
    padding-top: 20px;

}
.main-content-wrapper .main-content .post .post-preview .read-more
{
    position: absolute;
    bottom:15px ;
    right: 15px;
    text-decoration: none;
    color: #202639;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
}
.main-content-wrapper .main-content .post .post-preview .read-more:hover
{
    transition: 0.5s;
    background-color:rgb(128, 195, 250);
}
.main-content-wrapper .main-content .post .post-preview .post-category
{
    position: absolute;
    top:25px ;
    right: 15px;
    text-decoration: none;
    color: #202639;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}
.politics
{
    background: rgb(128, 195, 250); /*Maybe make this color changeable according to topic?*/
}
.tech
{
    background: rgb(252, 226, 75); /*Maybe make this color changeable according to topic?*/
}
.entertainment
{
    background: rgb(94, 255, 89); /*Maybe make this color changeable according to topic?*/
}
.travel
{
    background: rgb(174, 125, 255); /*Maybe make this color changeable according to topic?*/
}
.main-content-wrapper .show-all-btn
{
    text-align: center;
    padding: 25px;
}
.main-content-wrapper .show-all-btn a
{

    background: dodgerblue;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
}
.main-content-wrapper .show-all-btn a:hover
{

}

.main-content-wrapper .side-bar
{
    margin-top: 5%;
    padding: 10px;
    width: 25%;
    float: right;
    height: fit-content;
    /*background: #c3cade;*/
    /*border-radius: 10px;*/
    /*border-bottom: 1px solid black;*/
}
.main-content-wrapper .side-bar .show-all-users-btn
{
    float: right;
    text-decoration: none;
}


footer
{
    /*margin: 0px;*/
    /*width:100%;*/
    /*bottom: 0;*/
    /*text-align: center;*/
    /*font-size: 1rem;*/
    background: #202639;
    color: #d7f7ff;
    /*font-family: 'Raleway', sans-serif;*/

    height: 300px;
    position: relative;
}
footer .footer-content
{
    height: 280px;
    display: flex; /*To give equal amount of space for each foot-section*/
}
footer .footer-content .footer-section
{
    flex: 1;/*To give equal amount of space for each foot-section*/
    padding: 25px;
}
footer .footer-content .footer-section a
{
    color: #d7f7ff;
    text-decoration: none;
    padding: 20px;
}
footer .footer-content .footer-section p
{
    text-align: justify;
}
footer .footer-content .footer-section input[type=email]
{
    width: 70%;
    height: 25px;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Raleway, sans-serif;
    border: none;
}
footer .footer-content .footer-section button
{
    border: none;
    background: none;
    font-size: 20px;
    color: white;
}
footer .footer-content .footer-section button:hover
{
    color:rgb(128, 195, 250) ;
}

footer .footer-content .footer-section .socials
{
    font-size: 25px;
}

footer .footer-bottom
{
    padding:5px ;
    text-align: center;
    position: absolute;
    width: 99%;
    bottom: 0;
    left: 0;
    background: #232a3e;
    color: rgba(215, 247, 255, 0.64);
}

/*Dashboard.php style*/
.dashboard-wrapper{
    width: 850px;
    margin:0 auto;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button,.logout-button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
}
 .dashboard-posts-wrapper table
 {
     width: 100%;
     text-align: center;
     padding-top: 5px;
     border-collapse: collapse;

 }
.dashboard-posts-wrapper thead
{
    padding-bottom: 10px;
    background: #202639;
    color: white;
}
.dashboard-posts-wrapper .title-header
{
    width: 35%;
}

.dashboard-posts-wrapper table,tr {
    margin: 15px 0;
    /*border-bottom: solid;*/
    /*border-width: 1px 0;*/
}
.dashboard-posts-wrapper table a
{
    text-decoration: none;
    color: #202639;
}
.dashboard-posts-wrapper tr:hover
{
    background: #dde6ff;
}
.dashboard-posts-wrapper tr:nth-child(even)
{
    background: #e2e2e2;
}
.dashboard-posts-wrapper .delete-btn
{
    color: red;
}
.dashboard-posts-wrapper .edit-btn
{
    color: dodgerblue;
}
table, th, td {
    padding : 10px 0;
}
.fa-check
{
    color: #b3b3b3;
}

.checked
{
    color: black;
}
.dashboard-posts-wrapper .new-post-btn
{
    padding: 15px 20px;
    background:  #4CAF50;
    color: white;
    border: none;
}
.dashboard-posts-wrapper .new-post-btn:hover
{
    background: #00710e;
    color: white;
}



    /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab .logout-button
{
    background: #fd4747;
    float: right;
    color: #202639;
}
.tab .logout-button:hover
{
    background: #e33030;

}



/*
end of Dashboard.php style
*/


/*new.php style*/
.new-post-form
{
    position: relative;
    width: 850px;
    margin:30px auto;
}
.new-post-form a
{
    text-decoration: none;
    color: #202639;
}
.new-post-form i
{
    color: red;
}
.new-post-form h2
{
    margin:0;
}
.new-post-form select,input
{
    margin-top: 5px;
    margin-bottom: 25px;
}
/*height of rendered CKEditor content section*/
.ck-editor__editable_inline {
    height: 320px;
}

.new-post-form input[type='text']
{
    width: 100%;
    height: 35px;
    padding: 0 5px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Raleway, sans-serif;
    border: none;
}

.new-post-form select
{
    width: 100%;
    height: 35px;
    padding: 0 5px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Raleway, sans-serif;
    border: none;
}
.new-post-form button
{
    /*float: right;*/
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 10px 25px;
    background:  rgb(128, 195, 250);
    font-size: 20px;
    color: white;
    border: none;
}
.new-post-form button:hover
{
    background: #202639;
    color:rgb(128, 195, 250) ;
}

/*Style for post.php*/
.single-post
{
    width: 1000px;
    margin: 0 auto;
}
.single-post .title
{
    text-align: center;
    color: #202639;
}

.single-post h4,h5
{
    text-align: center;
    margin: 1px;
    padding: 1px;
    font-style: italic;
    color: #596476;

}

.single-post img
{
    width: 100%;
    max-height: 400px;
    padding-top: 15px;
    margin: 15px auto
}
.single-post post-content
{
    width: 90%;
    margin: 10px auto;
    line-height:2;
    text-align: justify;
}

/*Login.php and register.php*/
.login-content, .register-content
{
    width: 500px;
    padding: 10px 0;
    margin: 10px auto;
    text-align: center;
    border-radius: 10px;
}
.login-content
{
    min-height: 250px;
    background: #8b92aa;
}
.register-content
{
    min-height: 400px;
    background: rgb(128, 195, 250);
}
.form-error-msg
{
    width: 80%;
    margin: 5px auto ;
    border-radius: 5px;
    text-align: left;
    background: #ffa5af;
}
.form-error-msg li
{
    margin: 3px;
    padding: 3px;


}
.login-content input, .register-content input
{
    width: 80%;
    height: 25px;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Raleway, sans-serif;
    border: none;
    border-radius: 5px;
}
.login-content button, .register-content button
{
    margin: 15px auto;
    padding: 10px 25px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
}
.login-content button
{
    background:  rgb(128, 195, 250);

}
.login-content button:hover
{
    background: rgb(70, 171, 252);

}
.register-content button
{
    background: #8b92aa;
}
.register-content button:hover
{
    background: #5d6271;
}


/*denied.php Style start:*/
.error-wrapper
{
    width: 90%;
    height: 300px;
    margin: auto auto;
    padding-top: 25px;
    text-align: center;
}
.error-wrapper h1
{
    font-size: 10em;
    color:  #FF0000;
    padding: 0;
    margin: 0;
}
.error-wrapper .fa-ban,.fa-tools
{
    font-size: 10em;
    color:  #FF0000;
    padding: 0;
    margin: 0;
}

/*End of denied.php style*/
/*Media Queries*/
@media only screen and  (max-width: 1200px)
{
    header ul
    {
        width: 100%;
        background: white;
        max-height: 0;
        overflow: hidden;
    }
    header ul li
    {
        width: 100%;
    }
    header .menu_button
    {
        display: block;
        float: right;
        font-size: 2em;
        padding: 25px;
    }
    header .nav
    {
        /*padding-bottom: 25px;*/
    }

    .main-content-wrapper .main-content
    {
        width: 100%;

    }
    .slick-dots {
        display: flex;
        justify-content: center;

        margin: 0;
        padding: 1rem 0;

        list-style-type: none;
    }
    .slick-dots li {
        margin: 0 0.25rem;
    }

    .slick-dots  button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;

        border: none;
        border-radius: 100%;
        background-color: #262626;

        text-indent: -9999px;
    }
    .slick-dots li.slick-active button {
        background:  rgb(128, 195, 250);
    }
    .post-slider .post-wrapper
    {
        width: 100%;
    }
    .post-slider .next, .prev
    {
        visibility: hidden;
    }
    .single-post
    {
        width: 100%;
    }

    .main-content-wrapper .side-bar {
        width: 100%;
    }
    footer
    {
        height: fit-content;
    }
    footer .footer-content
    {
        display: inline-block;
    }
}

